* {
  margin: 0;
  padding: 0;
}

body {
  margin-top: 150px;
  padding: 30px;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: wheat;
  background-color: #112d49;
}
